/* body {
    background-color: bisque;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/*shared style*/
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.logo h2 {
    font-weight: 900;
    font-size: 45px;

}
.color-orange {
    color: rgb(255, 115, 0);
}
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"),url(../images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;

}

nav {
    width: 74%;
    max-width: 1500px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;


}
nav .menu {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    
}
nav .menu a {
    text-decoration: none;
    color: #474747;
    font-weight: 600;
    font-size: 20px;
}
.btn {
    background-color: rgb(255, 115, 0);
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading {
    max-width: 1100px;
    text-align: center;
    margin: 0 auto;;
}
.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;

}

#banner {
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content {
    max-width: 700px;
}
#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img {
    width: 700px;
    height: auto;
}

#about,#skills,#resume {
    padding-top: 130px;

}

#about .about-container {
    width: 74%;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
} 

.about-info .info-card p {
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.about-info .info-card h4 {
    font-size: 20px;
}

#skills .skills-container {
    width: 74%;
    max-width: 1500px;
    margin: 0 auto;
}
#skills .skills-container .skills-box {
    display: flex;
    justify-content: center;


    gap: 24px;
}

.skills-box .skill-card  {
    padding: 30px;
    max-width: 250px;
    box-shadow: 0 6px 50px 0 #00000020;

}
.skill-card img {
    max-width: 40px;
    margin-bottom: 30px;
}
.skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    
}

#resume .resume-container {
    width: 74%;
    max-width: 1500px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
    justify-content: center;
}
.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-container hr {
    margin: 30px 0;
}
.resume-card {
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info {

    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.resume-card .card-text {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}