/* body {
    background-color: bisque;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/*shared style*/
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.logo h2 {
    font-weight: 900;
    font-size: 45px;
}
.color-orange {
    color: rgb(255, 115, 0);
}
header {
    background-color: hsl(25, 100%, 88%);
    padding-top: 50px;
}

nav {
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;


}
nav .menu {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    
}
nav .menu a {
    text-decoration: none;
    color: #474747;
    font-weight: 600;
    font-size: 20px;
}
.btn {
    background-color: rgb(255, 115, 0);
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}